/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */


 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
}

.navbar-default {
    background-color: linear-gradient(transparent, #ADA996);
    opacity: 1;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: black;
    font-weight: bold;
	background-color: transparent;
	border-bottom: 0px solid transparent
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: bold;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    animation: transitionIn 2.75s;
    display: block;
    background: linear-gradient(#ADA996,white,white,#EAEAEA,#EAEAEA);
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: fixed;
    background-position: center center;
    min-height: 1080px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 700px) {
    #headerwrap {
        padding-top: 150px;
    }
}
@media (max-height: 700px) {
    #headerwrap {
        min-height: 700px;;
    }
}

#headerwrap h1 {
	color:black;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 42px;
    font-weight: bold;
}
@media (max-width: 1200px) {
    #headerwrap h1 {
        color:black;
        padding-left: 12.5%;
        padding-right: 12.5%;
	    padding-top: 10px;
	    padding-bottom: 20px;
	    letter-spacing: 4px;
        font-size: 36px;
        font-weight: bold;
    }
}
@media (max-width: 700px) {
    #headerwrap h1 {
        color:black;
        padding-left: 12.5%;
        padding-right: 12.5%;
	    padding-top: 10px;
	    padding-bottom: 20px;
	    letter-spacing: 4px;
        font-size: 24px;
        font-weight: bold;
    }
}
#headerwrap h4 {
	font-weight: 400;
	color: #bcaaa4
}
@media (max-width: 1200px) {
    #headerwrap h4 {
        font-weight: 400;
        color: #bcaaa4;
        padding-left: 12.5%;
        padding-right: 12.5%;
        font-size: 18px;
    }
}
@media (max-width: 700px) {
    #headerwrap h4 {
        font-weight: 400;
        color: #bcaaa4;
        padding-left: 12.5%;
        padding-right: 12.5%;
        font-size: 12px;
    }
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #bcaaa4
}

#footerwrap {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
    animation: transitionIn 0.75s;
    background-color: #EAEAEA;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: fixed;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:black;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 46px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color:black
}

#aboutwrap {	
    animation: transitionIn 0.75s;
    background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}


.container {
    animation: transitionIn 0.75s;
}
.resumework {
}
@media (max-width: 1200px) {
    .resumework {
        display: none;
    }
}

.container2 {
    animation: transitionIn 2.75s;
    background-color: #EAEAEA;
    text-align:center;
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 150px;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
    
    padding-left: 5%;
    padding-right: 5%;

    filter: drop-shadow(0 -14mm 4mm #EAEAEA);
}
@media (min-width: 1200px) {
    .container2 {
        animation: transitionIn 2.75s;
        background-color: #EAEAEA;
        text-align:center;
        margin-top: -50px;
        padding-top: 100px;
        padding-bottom: 150px;
        background-attachment: relative;
        background-position: center center;
        width: 100%;
        
        padding-left: 12.5%;
        padding-right: 12.5%;
    
        filter: drop-shadow(0 -14mm 4mm #EAEAEA);
    }
}
.imgpres {
    filter: drop-shadow(0 0 0.45rem rgb(104, 104, 104));
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
}
@media (min-width: 1200px) {
    .imgpres {
        filter: drop-shadow(0 0 0.45rem rgb(104, 104, 104));
        margin-bottom: 100px;
        border-radius: 20px;
        background-color: white;
    }
}

.imgwork {
    animation: transitionIn 0.75s;
    position: relative;
    overflow: hidden;
    display: block;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.scroll-down{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse{
    animation: transitionIn 5s;
    width: 2.5rem;
    height: 5rem;
    border: 2px solid #7e7e7e;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
}

.mouse span{
    animation: transitionIn 5s;
    width: 1rem;
    height: 1rem;
    background-color:#7e7e7e;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span{
    animation: transitionIn 5s;
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color:#7e7e7e;
    border-bottom-color:#7e7e7e;
    transform: rotate(45deg);
    animation: arrow-down .5s alternate infinite;
}

@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}

.gif{
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-height: 600px) {
    .gif {
        display: none;
    }
}
@media (max-height: 850px) {
    .gif {
        width: 150px;
        height: 150px;
    }
}